{% if page.nav_previous or page.nav_next %}
<nav class=""article-nav aria-lable="Article Nav">
    {% if page.nav_previous %}
        <a class="article-nav-previous" href="{{ page.nav_previous.url | escape }}">
            &larr; Previous: {{ page.nav_previous.title | escape }}
        </a>
    {% endif %}

    {% if page.nav_next %}
        <a class="article-nav-previous" href="{{ page.nav_next.url | escape }}">
            Next: {{ page.nav_next.title | escape }} &rarr;
        </a>
    {% endif %}
</nav>
{% endif %}